{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudo }}{% endblock %}

{% block stylesheets%}
<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block myblock %}
<div class="jumbotron">
    <div class="container">
        <img id="avatar" src="{{ asset(user.avatar) }}">
        <h2 class="display-3">{{ user.pseudo }}</h2>
        {% if user.email == app.user.email %}
            <a href="{{ path('profile_edit') }}" id="edit_profile">Edit profile</a>
            <a href="{{ path('profile_post') }}" id="new_post">Add new post</a>
        {% else %}
            <button class="btn btn-primary"class="follow">Following</button>
        {% endif %}
        <p>{{ user.posts | length }} posts</p>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="row">
        {% for post in user.posts %}
        <div class="col-md-4" id="{{ "post_#{post.id}" }}">
            <img class="post" src="{{ asset(post.image) }}" alt="post image"/>
        </div>
        {% endfor %}
    </div>

    <hr/>

{% endblock %}
